/* ========================== Component Name ========================== */
$component: .features-04;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto bg-wire-light;
  
  &__wrap {
    @apply flex flex-wrap relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
  }

  &__panel {
    width: 50%;
    @apply py-2 px-10 pl-20 my-4;
  }

  &__icon {
    @apply -ml-20;
    width: 50px;
    display: inline-block;
    position: absolute;

    img, svg {
      width: 100%;
    }
  }


  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {

  $(component)__wrap {

  }
}
